{% extends 'base.html' %}
{% load crispy_forms_tags %} 


{% block title %}
    
{% endblock title %}
    
{% block content %}

<div class="d-flex" id="content-wrapper">
    {% include 'header.html' %}
    
    <div class="w-100">
        <div id="content" class="bg-grey w-100">
  
  <div class="container" style="margin-top: 20px;  ">
    <h5>Registro para Referir Clientes</h5>

      <form method="POST" enctype="multipart/form-data" novalidate> 
        {% csrf_token %} 
        <div class="row">
  
          <div class="col">
            {{ form.cliente|as_crispy_field }}
          </div>         
          <div class="col">
            {{ form.operacion|as_crispy_field }}
          </div>         
          
          <div class="col">
            {{ form.producto|as_crispy_field }}
          </div>          
        </div>

        <div class="row">
          <div class="col">
            {{ form.municipio|as_crispy_field }}
          </div>
          <div class="col">
            {{ form.estado|as_crispy_field }}
          </div>         
          <div class="col">
            {{ form.email|as_crispy_field }}
          </div>         
        </div>

        <div class="row">
            <div class="col">
              {{ form.telefono|as_crispy_field }}
            </div>
            <div class="col">
              {{ form.opcion|as_crispy_field }}
            </div>   
            <div class="col">
              {{ form.publicar|as_crispy_field }}
            </div>                 
          </div>

          <div class="row">
            <div class="col">
              {{ form.titulo|as_crispy_field }}
            </div>
            <div class="col">
              {{ form.precio|as_crispy_field }}
            </div>  
            <div class="col">
              {{ form.img|as_crispy_field }}
            </div>         
          </div>

          <div class="row">
            <div class="col">
              {{ form.nota|as_crispy_field }}
            </div>  
            </div>


          <div class="col">
            <button type="submit" class="btn btn-success">Guardar</button>
            <a class="btn btn-secondary" onclick="javascript:history.back();">Cancelar</a>
           </div> 

      </form>

</div>

{% endblock content %}