{% extends 'base.html' %}
{% load crispy_forms_tags %} 


{% block title %}
    Socios
{% endblock title %}


{% block content %}

<div class="d-flex" id="content-wrapper">
  {% include 'header.html' %}
  
  <div class="w-100">
      <div id="content" class="bg-grey w-100">

<div class="container" style="margin-top: 20px;  ">
    <h2>Bienvenido a lafayette</h2>
    <p>Amigos de lafayette Inmobiliaria. <b> Quiero me ayuden a vender/rentar mi propiedad </b> </p>

    <form method="POST" enctype="multipart/form-data" novalidate> 
        {% csrf_token %} 
        <div class="row">
  
          <div class="col">
            {{ form.nombre|as_crispy_field }}
          </div>         
          <div class="col">
            {{ form.telefono|as_crispy_field }}
          </div>         
          
          <div class="col">
            {{ form.opcion|as_crispy_field }}
          </div>  

        </div>

        <div class="row">
          <div class="col">
            {{ form.email|as_crispy_field }}
          </div>   
            <div class="col">
                {{ form.datos|as_crispy_field }}
            </div>  
            <div class="col">
              {{ form.cp|as_crispy_field }}
          </div>       
        </div>

        <div class="row">
          <div class="col">
            {{ form.tipo|as_crispy_field }}
          </div>   
            <div class="col">
                {{ form.calle|as_crispy_field }}
            </div>  
            <div class="col">
              {{ form.colonia|as_crispy_field }}
          </div>       
        </div>

        <div class="row">
          <div class="col">
            {{ form.municipio|as_crispy_field }}
          </div>   
            <div class="col">
                {{ form.estado|as_crispy_field }}
            </div>  
        </div>


          <div class="col">
            <button type="submit" class="btn btn-success">Guardar</button>
           </div> 

      </form>

    </div>
  </div>
  </div>

</div>


{% endblock content %}