{% extends 'base.html' %}
{% load static %}

{% block title %}
lafayette
{% endblock title %}


{% block content %}


{% include 'nav.html' %}

    <div id="content" class="bg-white w-100">
        <div class="container">
            <div class="row" >

            <div class="mu-header-featured-content">
                <h3>Bienvenido a <span>lafayette</span></h3>
                <img  src="{% static 'img/logo.jpg' %}" alt="">

                <h6 style="margin: 0%;">GANA DINERO EXTRA CON NUESTRO MLM, LAFAYETTE INMOBILIARIA </h6>
                <h6 style="margin: 0%;">UNETE A NUESTRO EQUIPO DE NETWORKMARKETING FORMA PARTE DE LAFAYETTE INMOBILIARIA Y GANA INGRESOS EXTRAS.. </h6>
                <p style="margin: 0%;">Lafayette Inmobiliaria Calle 27 de Febrero H. Cárdenas, Tab.Col. Pueblo Nuevo. 86500</p>
                <p >Teléfonos: 9931820190, Email: lafayetterealstate@gmail.com    </p>
                </div>

                <img  src="{% static 'img/lupa.jpg' %}" alt="">


                <P>Utilizamos este medio para publicar terrenos, casas, autos, bodegas, edificios, ranchos, locales, animales, motos, maquinaria pesada, etc. Todo lo que este a la venta o renta ... contactanos y nosotros publicaremos tus fotos y lo mejor estamos iniciando relaciones con empresas interesadas en tu propuestas para una rápida y segura negociación.</P>
<H2>Quienes Somos?</H2>
<P>Lafayette Inmobiliaria es una empresa interactiva, en donde podemos ofrecer tus bienes muebles e inmuebles llegando a todos los niveles sociales de nuestro estado y país.

    Estamos comprometidos con usted, para llegar al cliente final que tenga las 3 "D" deseo, decisión y dinero, para llegar a un acuerdo real y palpable para ambas partes.
    
    Para nosotros es muy importante el anuncio de su bien mueble o inmueble, ya que nos ayuda a captar una cantidad mayor de ofertas y así reducir el tiempo para la adquisición de este mismo, esto es por que somos la Única Guía Inmobiliaria que le  ofrece la oportunidad  a los clientes de obtener ventajas directas y al momento de publicarse en nuestra pagina ,Lafayette Inmobiliaria.</P>

<H2>MISION</H2>
<p>
    Ser el medio de mayor comercialización, local, nacional e Internacional en Proyectos Inmobiliarios, Buscando el mas alto grado de Satisfacción en las necesidades de nuestros clientes, utilizando nuevas tecnologías y medios directos e indirectos para llegar al cliente final y así tener resultados económicos positivos para nuestros clientes y proveedores, la estrategia es GANAR-GANAR..
</p>
           
<h2>VISION</h2>  
<p>
    Ser la guía de referencia en ofertas para comprar, vender o rentar Bienes muebles e Inmuebles en el estado de Tabasco y de México entero, ofreciendo bienes de calidad a todos nuestros clientes.

Haciendo Promociones directas para exceder todas las expectativas de nuestros clientes.
</p>

</div>

</div>
</div>

{% endblock content %}